<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Serilog -->
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" />
		<add key="serilog:write-to:Console.restrictedToMinimumLevel" value="Information" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File"/>
		<add key="serilog:write-to:File.path" value="MultipleScreenPowersave.error.log" />
		<add key="serilog:write-to:File.restrictedToMinimumLevel" value="Error"/>
		<!--
		<add key="serilogDebug:serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilogDebug:serilog:write-to:File"/>
		<add key="serilogDebug:serilog:write-to:File.path" value="MultipleScreenPowersave.debug.log" />
		<add key="serilogDebug:serilog:write-to:File.restrictedToMinimumLevel" value="Debug"/>
		-->
	</appSettings>
</configuration>